!!! 5
html(lang="en")

    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="robots",content="index, follow")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="favicon.ico")
        //if IE
            meta(http-equiv="imagetoolbar", content="no")
            script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

        link(rel="stylesheet",href="/styles/style.css",type="text/css",media="screen")

    body

        #wrapper

            header
                h1 What the F*******k?

            != body

        footer
            small WTF itself runs on&nbsp;
                a(href="/s/node",data-bind="click: set") Node
                | ,
                a(href="/s/express",data-bind="click: set") Express
                |  and
                a(href="/s/underscore",data-bind="click: set") Underscore

        script
            var data = !{JSON.stringify(data)};;

        script(src="/js/lib/jquery-1.7.min.js")
        script(src="/js/lib/underscore-min.js")
        script(src="/js/lib/knockout-2.0.0.js")
        script(src="/js/site.js")