!!! 5
html(lang="en")

    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="robots",content="index, follow")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="favicon.ico")
        //if IE
            meta(http-equiv="imagetoolbar", content="no")
            script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

        link(rel="stylesheet",href="/styles/style.css",type="text/css",media="screen")

    body

        header
                h1 What the F*******k?

        != body