!!! 5
html(lang="en")

    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="robots",content="index, follow")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/favicon.ico")
        link(rel="apple-touch-icon-precomposed",href="/apple-touch-icon-precomposed.png")

        //if IE
            meta(http-equiv="imagetoolbar", content="no")
            script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

        link(rel="stylesheet",href="/styles/style.css",type="text/css",media="screen")

        // lab
        //- script(src="http://use.typekit.com/nou4wqq.js")
        script(src="http://use.typekit.com/sfv6rev.js")
        script
            try{Typekit.load();}catch(e){}

        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29708411-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    body

        #wrapper

            header
                h1(data-bind="style: { 'fontSize': headerSizePx }") What the F*******k?

            != body

            footer
                small WTF itself runs on&nbsp;
                    a(href="/s/node",data-bind="click: set") Node
                    | ,
                    a(href="/s/express",data-bind="click: set") Express
                    | ,
                    a(href="/s/knockout",data-bind="click: set") Knockout
                    | ,
                    a(href="/s/ender",data-bind="click: set") Ender
                    |  and
                    a(href="/s/underscore",data-bind="click: set") Underscore
                small Detailing&nbsp;
                    a(href="/s/anything",data-bind="click: set")=data.items.length
                    |  frameworks since March 04 2012. Tweet
                    a(href="http://www.twitter.com/fulljames") @fulljames
                    |  to suggest more.
                small Devised by&nbsp;
                    a(href="http://fulljames.net") Stephen
                    | . Designed by
                    a(href="http://threefour.co.uk") Alex
                    | .

        script
            var data = !{JSON.stringify(data)};

        script(src="/js/lib/ender.min.js")
        script(src="/js/lib/knockout-2.0.0.js")
        script(src="/js/site.js")