/* What the Framework? ************/

/* Reset ************/

html, body, div, span, h1, h2, p, small, ul, li, fieldset, form, label, footer, header {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

footer, header {
    display:block;
}

ul {
    list-style:none;
}

a {
    text-decoration:none;
}

:focus {
    outline:none;
}

/* Less ************/

@sans :"proxima-nova-soft",sans-serif;
@serif :"museo-slab",serif;

.rounded (@radius: 1em) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.fade() {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/* Site ************/

html {
    background:#7bc3e1;
    font-size:62.5%;
}

body {
    margin:4em auto;
    max-width:760px;
    padding:1em;
    .rounded;
    background:rgba(0,0,0,0.3);
    font-size:16px;
    font-size:1.6rem;
    color:#111
}

#wrapper {
    background:#fff;
    .rounded(0.55em);
    padding:2em;

    p {
        font-family: @sans;
        line-height:1.5;
        margin:0 0 1em 0
    }

    p a {
        font-weight:700;
        color:#111
    }

    li {
        background:#f8e495;
        padding:1em;
        margin:1em 0 0;

        h2 {
            font-family:@sans;
            padding:0 0 1em;

            a {
                color:#111;

            }

            a:hover {
                border-bottom:1px solid #111
            }

        }

        p {
            margin:0
        }


    }


}

/* Header ************/

header {

    h1 {
        font-family: @serif;
        font-weight:700;
        margin:0 0 0.5em 0;
        text-align:center;
    }

}


/* Form ************/

form {
    font-family: @serif;
    margin:1em 0;
    font-size:22px;
    font-size:2.2rem;

    label {
        line-height:1.5;
    }

    span {
        margin:0 0.3em 0 0;
    }

    input {
        font-family: @serif;
        border:0;
        font-size:22px;
        font-size:2.2rem;
        padding:0;
        margin:0;
        border-bottom:2px solid #aaa;
        width:50%;
        -webkit-appearance:none;
        .rounded(0);
    }
}


/* Footer ************/

footer {
    border-top:1px solid #ddd;
    margin:2em 0 0;
    padding:1em 0 0;
    color:#851616;
    font-family: @sans;
    font-size: 14px;
    font-size: 1.4rem;

    small {
        line-height:1.8;
        display: block;
    }

    small a {
        color:#bd1f1f;
        font-weight:700;
        .fade;
    }

    small a:hover {
        color:#851616;
    }

}

/* Devices ************/

@media screen and (max-width:840px) {
    body {
        width:90%;
    }

    header {
        h1 {
            margin:0 0 1em 0;
        }
    }

    form {
        font-size:1.8rem;

        input {
            font-size:1.8rem;
        }
    }
}

@media screen and (max-width:479px) {
    body {
        margin:1em auto;
        width:90%;
        padding:.6em;
    }
    
    #wrapper {
        padding:1em;
    }

    header {
        h1 {
            margin:0 0 1em 0;
        }
    }

    form {
        font-size:1.6rem;
        text-align: center;

        span:after {
            content:"\2026"
        }

        input {
            margin:1em 0;
            width:100%;
            font-size:1.8rem;
			text-align:center;
        }
    }

    footer {
        padding:1em 0 0
    }
}

